{% extends 'base.html' %} 
{% block title %}Kshitij Gaming Blogs | About us Page{% endblock title %} 

{% block body %}

<div class="main_about">
  <div class="me">
    <p>
        Hii, My Name is Kshitij Budholiya, I am a Full stack Web Developer. This is My Gaming BLog Website Where i am Trying To Brought You every possible Game On my Website, You Can Send Me Your Sugesstions by Contacting Me. Hope you Will love it.
    </p>
  </div>
  <div class="my_img">
    <img src="../../media/bg.jpg" alt="Image">
  </div>
</div>

{% endblock body %}
