{% extends 'base.html' %}

{% block title %}Kshitij Gaming Blogs{% endblock title %}

{% block nav_item_1 %}Home{% endblock nav_item_1 %}

{% block nav_item_2 %}Products{% endblock nav_item_2 %}

{% block nav_item_3 %}About Us{% endblock nav_item_3 %}

{% block nav_item_4 %}Contact Us{% endblock nav_item_4 %}

{% block body %}

<!-- This is main body -->
<div class="main_body">
    <!-- this is right side of main body -->
    <div class="right_main">
        <a href="#">
            <div class="card_body my-2">
                <!-- this is for image in the card -->
                <div class="right_image_side">
                    <img src="static/images/photo-2.jpg" alt="img-1">
                </div>
                <!-- //image of card -->
                <!-- this is for main content in the card -->
                <div class="left_main_content_side">
                    <div class="post_title">
                        <h5 class="x-large">GTA V Download Highly Compressed(200MB) in Parts</h5>
                    </div>
                    <div class="post_desc">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi iste, unde tempore
                            corrupti quibusdam earum officia harum delectus quod cupiditate velit, eius non nobis
                            error
                            neque itaque repellendus! Repellendus aperiam consectetur porro ut alias optio quibusdam
                            ratione rerum, a dolore! Eveniet similique iusto eum corrupti.
                        </p>
                    </div>
                    <div class="posted_by_on">
                        <p>
                            <b>
                                Posted by: Kshitij Budholiya on 15/08/2021 10:26 AM
                            </b>
                        </p>
                    </div>
                </div>
                <!-- //main content of card -->
            </div>
        </a>
        <a href="#">
            <div class="card_body my-2">
                <!-- this is for image in the card -->
                <div class="right_image_side">
                    <img src="static/images/photo-2.jpg" alt="img-1">
                </div>
                <!-- //image of card -->
                <!-- this is for main content in the card -->
                <div class="left_main_content_side">
                    <div class="post_title">
                        <h5 class="x-large">GTA V Download Highly Compressed(200MB) in Parts</h5>
                    </div>
                    <div class="post_desc">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi iste, unde tempore
                            corrupti quibusdam earum officia harum delectus quod cupiditate velit, eius non nobis
                            error
                            neque itaque repellendus! Repellendus aperiam consectetur porro ut alias optio quibusdam
                            ratione rerum, a dolore! Eveniet similique iusto eum corrupti.
                        </p>
                    </div>
                    <div class="posted_by_on">
                        <p>
                            <b>
                                Posted by: Kshitij Budholiya on 15/08/2021 10:26 AM
                            </b>
                        </p>
                    </div>
                </div>
                <!-- //main content of card -->
            </div>
        </a>
        <a href="#">
            <div class="card_body my-2">
                <!-- this is for image in the card -->
                <div class="right_image_side">
                    <img src="static/images/photo-2.jpg" alt="img-1">
                </div>
                <!-- //image of card -->
                <!-- this is for main content in the card -->
                <div class="left_main_content_side">
                    <div class="post_title">
                        <h5 class="x-large">GTA V Download Highly Compressed(200MB) in Parts</h5>
                    </div>
                    <div class="post_desc">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi iste, unde tempore
                            corrupti quibusdam earum officia harum delectus quod cupiditate velit, eius non nobis
                            error
                            neque itaque repellendus! Repellendus aperiam consectetur porro ut alias optio quibusdam
                            ratione rerum, a dolore! Eveniet similique iusto eum corrupti.
                        </p>
                    </div>
                    <div class="posted_by_on">
                        <p>
                            <b>
                                Posted by: Kshitij Budholiya on 15/08/2021 10:26 AM
                            </b>
                        </p>
                    </div>
                </div>
                <!-- //main content of card -->
            </div>
        </a>
        <a href="#">
            <div class="card_body my-2">
                <!-- this is for image in the card -->
                <div class="right_image_side">
                    <img src="static/images/photo-2.jpg" alt="img-1">
                </div>
                <!-- //image of card -->
                <!-- this is for main content in the card -->
                <div class="left_main_content_side">
                    <div class="post_title">
                        <h5 class="x-large">GTA V Download Highly Compressed(200MB) in Parts</h5>
                    </div>
                    <div class="post_desc">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi iste, unde tempore
                            corrupti quibusdam earum officia harum delectus quod cupiditate velit, eius non nobis
                            error
                            neque itaque repellendus! Repellendus aperiam consectetur porro ut alias optio quibusdam
                            ratione rerum, a dolore! Eveniet similique iusto eum corrupti.
                        </p>
                    </div>
                    <div class="posted_by_on">
                        <p>
                            <b>
                                Posted by: Kshitij Budholiya on 15/08/2021 10:26 AM
                            </b>
                        </p>
                    </div>
                </div>
                <!-- //main content of card -->
            </div>
        </a>
        <a href="#">
            <div class="card_body my-2">
                <!-- this is for image in the card -->
                <div class="right_image_side">
                    <img src="static/images/photo-2.jpg" alt="img-1">
                </div>
                <!-- //image of card -->
                <!-- this is for main content in the card -->
                <div class="left_main_content_side">
                    <div class="post_title">
                        <h5 class="x-large">GTA V Download Highly Compressed(200MB) in Parts</h5>
                    </div>
                    <div class="post_desc">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi iste, unde tempore
                            corrupti quibusdam earum officia harum delectus quod cupiditate velit, eius non nobis
                            error
                            neque itaque repellendus! Repellendus aperiam consectetur porro ut alias optio quibusdam
                            ratione rerum, a dolore! Eveniet similique iusto eum corrupti.
                        </p>
                    </div>
                    <div class="posted_by_on">
                        <p>
                            <b>
                                Posted by: Kshitij Budholiya on 15/08/2021 10:26 AM
                            </b>
                        </p>
                    </div>
                </div>
                <!-- //main content of card -->
            </div>
        </a>
    </div>
    <!-- //right side -->

    <!-- this is left side of main body -->
    <div class="left_main my-2">
        <div class="search_panel my-2">
            <h1 class="text_center">Search Here</h1>
            <form action="" class="search_form">
                <input class="search_inp" type="text" placeholder="Search..">
                <button type="submit" class="search_btn">Search</button>
            </form>
        </div>
        <hr>
        <div class="category mb-2">
            <h1 class="text_center mt-1 mb-1">Categories</h1>
            <hr class="cate_hr">
            <div class="show_cat">
                <p class="cate_para">New-Released (13)</p>
            </div>
            <hr class="cate_hr">
            <div class="show_cat">
                <p class="cate_para">Popular (11)</p>
            </div>
        </div>
        <hr>
        <div class="popular_posts">
            <h1 class="text_center mb-1">Popular Posts</h1>
            <a href="#">
                <div class="card_popular">
                    <img src="static/images/photo-2.jpg" alt="popular_img">
                </div>
            </a>
        </div>
        <hr class="mb-2">
        <div class="editor_choise">
            <h1 class="text_center">Editor Choise</h1>
            <div class="editor_choise_links">
                <a href="#">
                    <div class="card_popular">
                        <img src="static/images/photo-3.jpg" alt="editors_choise">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- // left side -->

</div>
<!-- //main body -->

<!-- pagination -->
<div class="pagination">
    <div class="nav_pagi">
        <ul>
            <li><a href="#" class="disabled"> Previous </a></li>
            <li class="active"><a href="#"> 1 </a></li>
            <li><a href="#"> 2 </a></li>
            <li><a href="#"> 3 </a></li>
            <li><a href="#"> Next </a></li>
        </ul>
    </div>
</div>
<!-- //pagination -->

{% endblock body %}