{% extends 'base.html' %} 

{% block title %}Kshitij Gaming Blog | Search:{{search}}{% endblock title %} 

{% block body %}

<div class="container_search">
  <h1>You Searched For : {{search}}</h1>
    <div class="right_main">
    {% for i in posts reversed %}
    <a href="#">
      <div class="card_body my-2">
        <!-- this is for image in the card -->
        <div class="right_image_side">
          <img src="/media/{{i.image}}" alt="img-{i}" />
        </div>
        <!-- //image of card -->
        <!-- this is for main content in the card -->
        <div class="left_main_content_side">
          <div class="post_title">
            <h5 class="x-large">{{i.title}}</h5>
          </div>
          <div class="post_desc">
            <p>{{i.desc| safe |slice:250}}</p>
          </div>
          <div class="posted_by_on">
            <p>
              <b> {{i.posted_by}} on {{i.date}} </b>
            </p>
          </div>
        </div>
        <!-- //main content of card -->
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<!-- pagination -->
<div class="pagination">
  <div class="nav_pagi">
    <ul>

      {% if posts.has_previous %}
        <li><a href="/?page={{posts.previous_page_number}}"> Previous </a></li>
      {% else %}
        <li><a href="" class="disabled"> Previous </a></li>
      {% endif %}

      <li class="active"><a href="/?page={{posts.number}}"> {{posts.number}} </a></li>

      {% if posts.has_next %}
        <li><a href="/?page={{posts.next_page_number}}"> Next </a></li>
      {% else %}
        <li><a href="" class="disabled"> Next </a></li>
      {% endif %}   

    </ul>
  </div>
</div>
<!-- //pagination -->

{% endblock body %}
